button {
    padding: minmax(1em, 2em);
    font-size: minmax(12px, 16px);
    color: rgb(52, 52, 147);
    border: 1px solid rgb(139, 139, 255);
    background: rgb(203, 203, 255);
    border-radius: 7px;
}