@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

@layer components {
    .button {
        @apply py-1 px-5 rounded-xl w-fit;
        background-color: #E5E7EB;
        color: #4B5563;
    }

    .padding {
        @apply px-28 py-24;
    }
    p {
        color: #4B5563;
    }
    .shadow {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
    }
    .text-container {
        @apply flex flex-col items-center gap-4;
    };
};
