@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    box-sizing: border-box;
}

@layer components {
    .button {
        @apply py-1 px-5 rounded-xl;
        background-color: #E5E7EB;
        color: #4B5563;
    }

    .padding {
        @apply px-28 py-24;
    }
    p {
        color: #4B5563;
    }
}
