* {
  box-sizing: border-box;
  /* border: 1px solid black; */
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
body {
  font: normal 14px/22px Helvetica, sans-serif, Arial;
}
.main {
  margin: 0 auto;
  width: 1200px;
}

/* navbar styles here */
.navbar {
  height: 6vh;
  justify-content: space-between;
  width: 100%;
}
.nav-menu {
  height: 100%;
  gap: 30px;
}
.nav-menu-ul {
  list-style-type: none;
  gap: 25px;
}
.nav-logo {
  height: 50%;
}
.nav-stat {
  gap: 20px;
}

/* SECTION 1 */
.headline {
  width: 100%;
  gap: 30px;
}
.content1 {
  background: linear-gradient(90deg, #ebeaea 5%, #fff 20%);
  padding-left: 30px;
  justify-content: space-evenly;
  width: 50%;
}
.content2 {
  width: 50%;
}
.head-social {
  gap: 20px;
}
.head-content-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.head-content-img {
  max-width: 100%;
  object-fit: cover;
  flex: 0 0 60%;
}
.head-content-text {
  flex: 0 0 40%;
}

/* SECTION 2*/
.story {
  background-color: skyblue;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.3fr 1fr;
  height: 100vh;
}
.stories {
  grid-row: 1/2;
  grid-column: 1/3;
  gap: 0.6rem;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.story-content {
  width: 16.66%;
  position: relative;
}
.hover-box {
  position: absolute;
}
.news {
  justify-content: space-between;
}

/* discussion styles are here */
.discussion {
  background-color: peachpuff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60vh;
  width: 100%;
}
.disc-content1 {
  grid-column: 1/3;
  grid-row: 1/5;
}

/* lifestyle styles are here */
.lifestyle {
  background-color: paleturquoise;
  height: 120vh;
  width: 100%;
}
.lifestyle-random,
.lifestyle-tech,
.lifestyle-comic {
  height: 30%;
}
.lifestyle-content {
  width: 25%;
}

/* video styles here */
.video {
  background-color: peachpuff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 60vh;
  width: 100%;
}
.footer {
  height: 23vh;
}

/* fucking images styles here */
img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

/* buncha styles here */
.margin-top-30 {
  margin-top: 30px;
}
.flex {
  display: flex;
}
.radius-7 {
  border-radius: 7px;
}
.radius-10 {
  border-radius: 10px;
}
.deco-none {
  text-decoration: none;
}
.flex-column:not(.discussion):not(.video) {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

@media only screen and (width <= 640px) {
  .flex-column {
    display: flex;
    flex-direction: column;
  }
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  .navbar {
    height: 5vh;
  }
  .lifestyle {
    gap: 20px;
    width: 100%;
  }
  .discussion {
    height: 90vh;
    gap: 10px;
    width: 100%;
  }
  .video {
    height: 120vh;
    width: 100%;
  }
}
@media only screen and (width <= 960px) {
  .flex-column:not(.video) {
    display: flex;
    flex-direction: column;
  }
  .flex-center {
    justify-content: center;
    align-items: center;
  }
  .main {
    width: 100%;
  }
  .navbar {
    height: 5vh;
  }
  .headline {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 50px;
  }
  .content1 {
    display: none;
  }
  .content2 {
    width: 100%;
  }

  /* SECTION 2 */
  .story {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
  }
  .stories {
    grid-row: 1/2;
    grid-column: 1/2;
    gap: 0.6rem;
  }
  .story-content {
    min-width: 33.3%;
    max-width: 33.3%;
  }
  .news {
    grid-column: 1/2;
    grid-row: 2/3;
    justify-content: space-between;
  }

  /* SECTION 4 */
  .lifestyle {
    gap: 20px;
  }

  /* SECTION 5 */
  .discussion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.8fr 0.5fr 0.5fr;
    height: 90vh;
    gap: 20px;
  }

  /* SECTION 6 */
  .video {
    height: 120vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .video-content {
    height: 100%;
  }

  /* navbar styles here */
  .navbar {
    background-color: aquamarine;
    height: 6vh;
    justify-content: space-between;
  }
  .nav-menu {
    height: 100%;
    gap: 20px;
  }
  .nav-menu-ul {
    list-style-type: none;
    gap: 15px;
  }
}
